@theme {
  --color-point: #3aa0ff;
  --color-border: #1c1c1e;
  --color-box-default: #35414d80;
  --color-box-clicked: #35414d;

  /* ==== 그래프 축 색상 ==== */
  --color-graph-axis: #b9cadc;

  /* ==== 바 세부 수치 색상 ==== */
  --color-internal: #00fff6;
  --color-external: #ffee00;
  --color-netflow: #ff00b2;

  /* ==== 텍스트 색상 ==== */
  --color-main-text: #ffffff;
  --color-point-text: #b0d9ff;
  --color-sub-text: #b3b3b3;

  /* ==== 코인 색상 ==== */
  --color-inj: #617cff;
  --color-atom: #4a62a0;
  --color-atone: #03c5f6;
  --color-tia: #d179ff;
  --color-akt: #c90205;
  --color-sei: #ff93b0;
  --color-axl: #0051ff;
  --color-kava: #ff1d21;
  --color-althea: #84cbff;
  --color-saga: #ff615f;
  --color-om: #ffbec2;
  --color-osmo: #831ced;
  --color-coreum: #4cd6a4;
  --color-luna: #8cf5e7;
  --color-strd: #ff73cf;
  --color-ntrn: #ff8800;
}
