@theme {
  /* font family */
  --font-main: "Zalando Sans Expanded", sans-serif;
  --font-sub: "Roboto", sans-serif;

  /* font weight */
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  /* font size */
  --text-xs: 6px;
  --text-sm: 7px;
  --text-base: 8px;
  --text-md: 10px;
  --text-lg: 12px;
  --text-xl: 15px;
  --text-2xl: 35px;
}
