@utility section-border-r {
  border-right: 5px solid #1c1c1e;
}

@utility section-border-t {
  border-top: 5px solid #1c1c1e;
}

@utility section-border-b {
  border-bottom: 5px solid #1c1c1e;
}

@utility section-border-l {
  border-left: 5px solid #1c1c1e;
}
